.receivableTableContainer {
	margin-top: 20px;
}

.totalAmountStyle {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	margin-bottom: 15px;
	margin-top: 30px;
}
.totalAmountTextStyle {
	margin-right: 20px;
	/* margin-top: -5px; */
}
.totalAmountInputField {
	block-size: 1.5rem;
	width: 200px;
	border-color: #5fb3c8;
}

.payableFooter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.printPageButtonStyle {
	background-color: #646a5e;
	width: 120px;
	block-size: 2rem;
	border-radius: 10px;
	color: #ffffff;
}

.cancelButtonStyle {
	margin-left: 10px;
	background-color: #e6253a;
	width: 120px;
	block-size: 2rem;
	border-radius: 10px;
	color: #ffffff;
}
