.stockReportTableContainer {
	margin-top: 20px;
}

.payableFooter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.printPageButtonStyle {
	background-color: #646a5e;
	width: 120px;
	block-size: 2rem;
	border-radius: 10px;
	color: #ffffff;
}

.cancelButtonStyle {
	margin-left: 10px;
	background-color: #e6253a;
	width: 120px;
	block-size: 2rem;
	border-radius: 10px;
	color: #ffffff;
}
